@font-face {
  font-family: 'Proxima', sans-serif;
  src: url('../fonts/ProximaNova-Semibold.woff') format('woff2');
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima', sans-serif;
  src: url('../fonts/ProximaNova-Bold.woff') format('woff2');
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima', sans-serif;
  src: url('../fonts/ProximaNova-Extrabld.woff') format('woff2');
  src: url('../fonts/ProximaNova-Extrabld.woff2') format('woff');
  font-weight: 800;
}
