@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}
@import 'variables';
body {
  background-color: red;
}
header {
  position: absolute;
  height: 134px;
  width: 1920px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  color: red;
}
